<ion-view view-title="Home">
    <ion-header-bar class="bar-assertive">
      <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <h1 class="title">{{activeProject.title}}</h1>
      <!-- New Task button-->
      <!-- <button class="button button-icon" ng-click="newTask()"> -->
        <i class="icon ion-compose"></i>
      </button>
    </ion-header-bar> 
    <ion-content has-bouncing="true">
      <div class="bigpicture">
          <div class="list card">      
            <div class="item item-image">
              <img src="1musician.jpg">
              <p class="p_title">Tobias "Marley" Roberts</p> 
              <p class="p_subtitle">0.1m</p>
            </div>
          </div>
      </div>

    </ion-content>
  </ion-view>
