<ion-view view-title="timeline">
    <ion-header-bar class="bar-assertive">
      <button class="button button-icon" ng-click="toggleProjects()">
        <i class="icon ion-navicon"></i>
      </button>
      <h1 class="title">{{activeProject.title}}</h1>
      <!-- New Task button-->
      <button class="button button-icon" ng-click="newTask()">
        <i class="icon ion-compose"></i>
      </button>
    </ion-header-bar>

    <ion-content has-bouncing="true">
    <timeline>
      <timeline-node side="right">
        <timeline-badge class="info"><i class="glyphicon glyphicon-check"></i>
        </timeline-badge>
        <timeline-panel>
          <timeline-heading>
            <timeline-title>Some twitter post</timeline-title>
            <p>
              <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small>
            </p>
          </timeline-heading>
          <timeline-content>
            <p>Twitter post goes here</p>
          </timeline-content>
        </timeline-panel>
      </timeline-node>
    </timeline>
     <!--  <ion-list>
        <ion-item ng-repeat="task in activeProject.tasks">
          {{task.title}}
        </ion-item>
      </ion-list> -->
    </ion-content>
  </ion-view>
